body {
  background-color: #5f5345;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
 
.imageContainer {
  float: left;
  width: 620px;
}
 
.textContainer {
  float: center;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

img {
  width: 100%;
}
 
h1 {
  font-family: 'Times New Roman', cursive;
  font-size: 64px;
  color: #8b1b00;
}
 
p, li {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: #51473b;
}

.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
