body {
  background-color: #ffae70;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #000000;
}
 
.imageContainer {
  float: left;
  width: 620px;
}
 
.centered {
  text-align: center;
}

img {
  width: 100%;
}
 
h1 {
  font-family: 'Times New Roman', cursive;
  font-size: 64px;
  color: #1e4b6b;
}

h3 {
  font-family: 'Georgia', cursive;
  font-size: 30px;
}

p, li, l {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: #000000;
}

 
