body {
  background-color: #ffae70;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #000000;
}
 
.imageContainer {
  float: left;
  width: 620px;
}
 
.textContainer {
  text-align: center;
  float: center;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.centered {
  text-align: center;
}

img {
  width: 100%;
}
 
h1 {
  font-family: 'Times New Roman', cursive;
  font-size: 64px;
  color: #1e4b6b;
}
 
p, li {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: #000000;
}

.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
